<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<title>Home page</title>
</head>
<body>

	<!-- Navbar -->


	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">EMP System</a> <a
			class="navbar-brand" href="#">DEP System</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item active"><a class="nav-link" href="">Add
						EMP</a></li>
				<li class="nav-item active"><a class="nav-link" href="">Add
						DEP</a></li>


			</ul>
		</div>
	</nav>

	<!-- Navbar -->


	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card">
					<div class="card-body">
						<h4 class="text-center text-primary">Edit Emp</h4>
						<form th:action="@{/update}" method="post" th:object="${emp}">
							<input type="hidden" th:value="${emp.id}" name="id">

							<div class="form-group">
								<label>Enter Full Name</label> <input type="text"
									class="form-control" name="name" th:value="${emp.name}">
							</div>



							<div class="form-group">
								<label>Enter Address</label> <input type="text"
									class="form-control" name="address" th:value="${emp.address}">
							</div>

							<div class="form-group">
								<label>Enter Email</label> <input type="email"
									class="form-control" name="email" th:value="${emp.email}">
							</div>


							<div class="form-group">
								<label>Enter Phone No</label> <input type="number"
									class="form-control" name="phno" th:value="${emp.phno}">
							</div>


							<div class="form-group">
								<label>Enter Salary</label> <input type="number"
									class="form-control" name="salary" th:value="${emp.salary}">
							</div>

							<button class="btn btn-primary btn-block">Submit</button>

						</form>
					</div>
				</div>

			</div>
		</div>

	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card">
					<div class="card-body">
						<h4 class="text-center text-primary">Edit Dep</h4>
						<form th:action="@{/update}" method="post" th:object="${dep}">
							<input type="hidden" th:value="${dep.id}" name="id">

							<div class="form-group">
								<label>Enter Department Name</label> <input type="text"
									class="form-control" name="name" th:value="${Dep.name}">
							</div>
							<button class="btn btn-primary btn-block">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card">
					<div class="card-body">
						<h4 class="text-center text-primary">Edit Login</h4>
						<form th:action="@{/update}" method="post" th:object="${login}">
							<input type="hidden" th:value="${login.id}" name="id">

							<div class="form-group">
								<label>Enter Employee Id</label> <input type="text"
									class="form-control" name="name" th:value="${login.id}">
							</div>

							<div class="form-group">
								<label>Enter Your Location</label> <input type="text"
									class="form-control" name="name" th:value="${login.id}">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card">
					<div class="card-body">
						<h4 class="text-center text-primary">Edit Cases</h4>
						<form th:action="@{/update}" method="post" th:object="${login}">
							<input type="hidden" th:value="${case.id}" name="id">

							<div class="form-group">
								<label>No Cases Found</label> <input type="text"
									class="form-control" name="name" th:value="${case.id}">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card">
					<div class="card-body">
						<h4 class="text-center text-primary">Edit Leaves</h4>
						<form th:action="@{/update}" method="post" th:object="${leave}">
							<input type="hidden" th:value="${leave.id}" name="id">

							<div class="form-group">
								<label>Enter EmployeeId></label> <input type="text"
									class="form-control" name="name" th:value="${leave.id}">
							</div>



							<div class="form-group">
								<label>Enter LeaveType</label> <input type="text"
									class="form-control" name="leavetype"
									th:value="${leave.leavetype}">
							</div>

							<div class="form-group">
								<label>Enter Date</label> <input type="date"
									class="form-control" name="date" th:value="${leave.date}">
							</div>


							<div class="form-group">
								<label>Enter TeamEmail</label> <input type="email"
									class="form-control" name="email" th:value="${leave.email}">
							</div>


							<div class="form-group">
								<label>Enter ReasonforLeave</label> <input type="text"
									class="form-control" name="reason th:value="${leave.ReasonforLeave}">
							</div>

							<button class="btn btn-primary btn-block">Submit</button>

						</form>
					</div>
				</div>

			</div>
		</div>

	</div>
<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card">
					<div class="card-body">
						<h4 class="text-center text-primary">Edit quicklinks</h4>
						<form th:action="@{/update}" method="post" th:object="${emp}">
							<input type="hidden" th:value="${emp.id}" name="id">

							<div class="form-group">
								<label>Put the Link Here</label> <input type="link"
									class="form-control" name="name" th:value="${link.name}">
							</div>
							
							<button class="btn btn-primary btn-block">Submit</button>
							
</form>
</div>
</div>
</div>
</div>
</div>


</body>
</html>
