<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style>
    body {
        background: green;
    }
 
    h1 {
        margin: 300px auto;
        text-align: center;
        color: white;
        font-size: 8em;
        transition: 0.5s;
        font-family: Arial, Helvetica, sans-serif;
    }
 
    h1:hover {
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
                     0 3px 0 #ccc, 0 4px 0 #ccc,
                     0 5px 0 #ccc, 0 6px 0 #ccc,
                     0 7px 0 #ccc, 0 8px 0 #ccc,
                     0 9px 0 #ccc, 0 10px 0 #ccc,
                     0 11px 0 #ccc, 0 12px 0 #ccc,
                     0 20px 30px rgba(0, 0, 0, 0.5);
    }
</style>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<title>Home page</title>
</head>
<body>

	<!-- Navbar -->


	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">EMP System</a>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="#">DEP System</a>
		</nav>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item active"><a class="nav-link" href="addemp">Add
						EMP</a></li>
				<li class="nav-item active"><a class="nav-link" href="addemp">Add
						DEP</a></li>
				<li class="nav-item active"><a class="nav-link" href="addemp">Add
						Login</a></li>
				<li class="nav-item active"><a class="nav-link" href="addemp">Add
						Cases</a></li>
				<li class="nav-item active"><a class="nav-link" href="addemp">Apply
						Leave</a></li>
				<li class="nav-item active"><a class="nav-link" href="addemp">Quick
						Links</a></li>
				<li class="nav-item active"><a class="nav-link" href="addemp">Add
						Salary</a></li>
				<li class="nav-item active"><a class="nav-link" href="addemp">Add
						My Goals </a></li>
			</ul>
		</div>
	</nav>

	<!-- Navbar -->

	<div th:if=${session.msg}>
		<div class="alert alert-success" role="alert" th:text="${session.msg}">
		</div>
		<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
	</div>


	<div class="container p-5">
		<table class="table table-striped" border="1">
			<thead class="bg-primary text-white">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Name</th>
					<th scope="col">Address</th>
					<th scope="col">Email</th>
					<th scope="col">Phone No</th>
					<th scope="col">Salary</th>
					<th scope="col">Action</th>

				</tr>
			</thead>
			<tbody>

				<div class="container">

					<p>Total Emp: [[${totalItem}]]</p>

					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li th:if="${currentPage !=0}" class="page-item"><a
								class="page-link" th:href="@{'/page/'+${currentPage-1}}">Previous</a></li>


							<li th:each="i:${#numbers.sequence(1,totalPages)}"
								th:classappend="${currentPage==i-1 ? 'active' : '' }"
								class="page-item"><a class="page-link"
								th:href="@{'/page/'+${i-1}}">[[${i}]]</a></li>

							<li th:if="${currentPage+1!=totalPages}" class="page-item"><a
								class="page-link" th:href="@{'/page/'+${currentPage+1}}">Next</a></li>
						</ul>
					</nav>
				</div>


				<tr th:each="e : ${emp}">
					<th th:text="${e.id}">1</th>
					<td th:text="${e.name}"></td>
					<td th:text="${e.address}"></td>
					<td th:text="${e.email}"></td>
					<td th:text="${e.phno}"></td>
					<td th:text="${e.salary}"></td>
					<td><a class="btn btn-sm btn-primary"
						th:href="@{/edit/{id}(id=${e.id})}">Edit</a> <a
						class="btn btn-sm btn-danger"
						th:href="@{/delete/{id}(id=${e.id})}">Delete</a></td>
				</tr>
			</tbody>
		</table>

	</div>

	<div class="container p-5">
		<table class="table table-striped" border="1">
			<thead class="bg-primary text-white">
				<tr>
					<th scope="col">empId</th>
					<th scope="col">Location</th>
				</tr>
			</thead>
		</table>
	</div>




	<div class="container p-5">
		<table class="table table-striped" border="1">
			<thead class="bg-primary text-white">
				<tr>
					<th scope="col">depId</th>
					<th scope="col">depName</th>
				</tr>
			</thead>
		</table>
	</div>

	<tr th:each="e : ${dep}">
		<th th:text="${d.id}">1</th>
		<td th:text="${d.name}"></td>
		<td><a class="btn btn-sm btn-primary"
			th:href="@{/edit/{id}(id=${d.id})}">Edit</a> <a
			class="btn btn-sm btn-danger" th:href="@{/delete/{id}(id=${d.id})}">Delete</a></td>
	</tr>

	<tr th:each="e : ${login}">
		<th th:text="${l.id}">1</th>
		<td th:text="${l.location}"></td>
	</tr>

	<div class="container p-5">
		<table class="table table-striped" border="1">
			<thead class="bg-primary text-white">
				<tr>
					<th scope="col">EmployeeId</th>
					<th scope="col">LeaveType</th>
					<th scope="col">Date</th>
					<th scope="col">TeamEmail</th>
					<th scope="col">ReasonforLeave</th>
					<th scope="col">Action</th>

				</tr>
			</thead>
			<tbody>

				<tr th:each="e : ${leave}">
					<th th:text="${l.eid}">1</th>
					<td th:text="${l.leavetype}"></td>
					<td th:text="${l.date}"></td>
					<td th:text="${l.teamemail}"></td>
					<td th:text="${l.reason}"></td>
					<td><a class="btn btn-sm btn-primary"
						th:href="@{/edit/{id}(id=${l.id})}">Edit</a> <a
						class="btn btn-sm btn-danger"
						th:href="@{/delete/{id}(id=${l.id})}">Delete</a></td>
				</tr>
			</tbody>
		</table>

	</div>
	<div th:if=${session.msg}>
		<div class="alert alert-success" role="alert" th:text="${session.msg}">
		</div>
		<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
	</div>


	<div class="container p-5">
		<table class="table table-striped" border="1">
			<thead class="bg-primary text-white">
				<tr>
					<th scope="col">EId</th>
					<th scope="col">Name</th>
					<th scope="col">Salary</th>
					<th scope="col">Email</th>
					<th scope="col">Action</th>

				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>

	<tr th:each="e : ${sal}">
		<th th:text="${s.id}">1</th>
		<td th:text="${s.name}"></td>
		<td th:text="${s.salary}"></td>
		<td th:text="${e.email}"></td>
		<td><a class="btn btn-sm btn-primary"
			th:href="@{/edit/{id}(id=${e.id})}">Edit</a> <a
			class="btn btn-sm btn-danger" th:href="@{/delete/{id}(id=${e.id})}">Delete</a></td>
	</tr>







	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>
